<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="quizconnection" connectionString="Data Source=148.72.232.168,1433;Initial Catalog=mobi96_Quizproject;User ID=QuizprojectUser123;Password=Quizproject@123"/>
</connectionStrings>
</configuration>