* {
    padding: 0;
    margin: 0;
}

.admin-section {
    list-style: none;
    font-size: 13px;
    margin-top: 50px;
}

.admin-section-tab li {
    display: block;
    float: none;
}

    .admin-section-tab li a, .admin-section-tab li.active a,
    .nav-tabs, .admin-section-tab li.active a:hover {
        border: none;
    }

.admin-section a {
    text-decoration: underline;
}

    .admin-section a:hover {
        text-decoration: none;
    }

.mtop {
    margin: 60px 0 20px;
}

.admin-section li {
    list-style: none;
}

table td {
    border: none;
}

.top-category-content .form-control {
    padding: 6px 6px;
}

.subtab {
    padding-left: 0;
}

    .subtab li {
        padding: 5px;
    }

        .subtab li.active a {
            color: #555;
        }

.merchant-section .form-group label {
    text-align: left;
}

.mtop10 {
    margin-top: 10px;
}

.mtop30 {
    margin-top: 30px;
}

.mlr {
    margin: 0 15px;
}

.mbtm20 {
    margin-bottom: 20px;
}

table.table.merchantLogin-table td {
    padding: 3px;
    font-size: 13px;
}

.examreport-table td, .examreport-table select, .examreport-table button {
    padding: 3px;
    font-size: 13px;
}

.merchant-section .nav-tabs > li.active > a,
.merchant-section .nav-tabs > li.active > a:focus,
.merchant-section .nav-tabs > li.active > a:hover {
    border: none;
}

/** Menu **/
.admin-section-tab .nav-tabs li a {
    background: #2e353d;
    color: #e1ffff;
    border-bottom: 1px solid #23282e;
    border-radius: 0;
    margin: 1px 0;
    text-decoration: none;
}

.admin-section-tab li.hasSubtab a {
    margin: 0;
    /*background: #4F5B69;*/
}

.admin-section-tab li.hasSubtab.active > a {
    background: #4f5b69;
    color: #e1ffff;
    border: 0;
}

.hasSubtab .subtab li {
    padding: 0;
}

    .hasSubtab .subtab li a {
        padding: 10px 15px;
        display: block;
        margin: 0;
    }

.admin-section-tab li:hover a, .admin-section-tab li:focus a,
.admin-section-tab .nav-tabs li.active > a {
    background: #4f5b69;
    border-color: transparent transparent #23282e transparent;
    color: #e1ffff;
}

.hasSubtab span::after {
    content: "\E259";
    font-family: "Glyphicons Halflings";
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 1;
    cursor: pointer;
}

.subtabarrow::before {
    content: "\E258";
    font-family: "Glyphicons Halflings";
}

.hasSubtab .subtab li a {
    background: #181c20;
    border-bottom: 1px solid #23282e;
}

    .hasSubtab .subtab li a:hover, .hasSubtab .subtab li.active a {
        background: #020203;
    }

.admin-section-tab {
    background: #2e353d none repeat scroll 0 0;
    left: 0;
    min-height: 700px;
    position: fixed;
    top: 0;
    width: 18%;
}

    .admin-section-tab .nav-tabs li:last-child a {
        margin: 0;
    }

.dash {
    color: #fff;
    background: #23282E;
    text-align: center;
    padding: 15px;
}

li.dash:hover a {
    background: none;
}

li.dash a {
    padding: 0;
    background: none !important;
    display: inline-block;
    color: red !important;
}

/* Online Exam Page Header*/
.outer {
    /*outline: 1px solid #eee;*/
    display: table;
    width: 100%;
}

    .outer > div {
        display: table-cell;
        vertical-align: middle !important;
        text-align: center;
        margin-top: 30px;
    }
/* Online Exam Page Radion and checkbox highlight*/
.radioboxlist radioboxlistStyle {
    font-size: x-large;
    padding-right: 20px;
}

.radioboxlist label {
    color: #3E3928;
    padding-left: 6px;
    padding-right: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    clear: left;
    margin-right: 10px;
    margin-left: 10px;
}

    .radioboxlist label:hover {
        color: #083C64;
    }

input:checked + label {
    color: #083C64;
}
/*Online Exam Header*/
.onlineexamheader {
    min-height: 70px;
    background-color: #083C64;
    color: white;
    font-size: large;
}

.onlineexamheader-two {
    border: 1px solid #808080;
    border-bottom: 0;
    height: 50px;
    line-height: 47px;
    text-align: center;
    font-size: 15px;
}

.simulatorname {
    line-height: 70px;
    text-align: left;
    font-size: xx-large;
}

.examnameh4 {
    line-height: 50px;
    text-align: center;
}

.btn.btn-square {
    border-radius: 0;
}
/*Digonal line pattern*/
.diagonal_lines_pattern {
    height: 50px;
    line-height: 47px;
    text-align: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQYV2M8ffr0TFNT03QGNMAI4mOTBEtgk4RLoEuiSCBLYkjAJAH0QRcBJ0iRVwAAAABJRU5ErkJggg==);
}
/*Progress bar*/
.progress {
    height: 20px;
    border-radius: 0;
}

    .progress .skill {
        font: normal 12px "Open Sans Web";
        line-height: 20px;
        padding: 0;
        margin: 0 0 0 20px;
        text-transform: uppercase;
    }

        .progress .skill .val {
            float: right;
            font-style: normal;
            margin: 0 20px 0 0;
        }

.progress-bar {
    text-align: left;
    transition-duration: 3s;
}

/*Message Notification*/
.messagealert {
    width: 50%;
    position: fixed;
    top: 0px;
    z-index: 100000;
    padding: 0;
    font-size: 15px;
}
