* {
    padding: 0;
    margin: 0;
}

.admin-section {
    list-style: none;
    font-size: 13px;
    margin-top: 50px;
}

.admin-section-tab li {
    display: block;
    float: none;
}

    .admin-section-tab li a, .admin-section-tab li.active a,
    .nav-tabs, .admin-section-tab li.active a:hover {
        border: none;
    }

.admin-section a {
    text-decoration: underline;
}

    .admin-section a:hover {
        text-decoration: none;
    }

.mtop {
    margin: 60px 0 20px;
}

.admin-section li {
    list-style: none;
}

table td {
    border: none;
}

.top-category-content .form-control {
    padding: 6px 6px;
}

.subtab {
    padding-left: 0;
}

    .subtab li {
        padding: 5px;
    }

        .subtab li.active a {
            color: #555;
        }

.merchant-section .form-group label {
    text-align: left;
}

.mtop10 {
    margin-top: 10px;
}

.mtop30 {
    margin-top: 30px;
}

.mlr {
    margin: 0 15px;
}

.mbtm20 {
    margin-bottom: 20px;
}

table.table.merchantLogin-table td {
    padding: 3px;
    font-size: 13px;
}

.examreport-table td, .examreport-table select, .examreport-table button {
    padding: 3px;
    font-size: 13px;
}

.merchant-section .nav-tabs > li.active > a,
.merchant-section .nav-tabs > li.active > a:focus,
.merchant-section .nav-tabs > li.active > a:hover {
    border: none;
}

/** Menu **/
.admin-section-tab .nav-tabs li a {
    background: #2e353d;
    color: #e1ffff;
    border-bottom: 1px solid #23282e;
    border-radius: 0;
    margin: 1px 0;
    text-decoration: none;
}

.admin-section-tab li.hasSubtab a {
    margin: 0;
    /*background: #4F5B69;*/
}

.admin-section-tab li.hasSubtab.active > a {
    background: #4f5b69;
    color: #e1ffff;
    border: 0;
}

.hasSubtab .subtab li {
    padding: 0;
}

    .hasSubtab .subtab li a {
        padding: 10px 15px;
        display: block;
        margin: 0;
    }

.admin-section-tab li:hover a, .admin-section-tab li:focus a,
.admin-section-tab .nav-tabs li.active > a {
    background: #4f5b69;
    border-color: transparent transparent #23282e transparent;
    color: #e1ffff;
}

.hasSubtab span::after {
    content: "\E259";
    font-family: "Glyphicons Halflings";
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 1;
    cursor: pointer;
}

.subtabarrow::before {
    content: "\E258";
    font-family: "Glyphicons Halflings";
}

.hasSubtab .subtab li a {
    background: #181c20;
    border-bottom: 1px solid #23282e;
}

    .hasSubtab .subtab li a:hover, .hasSubtab .subtab li.active a {
        background: #020203;
    }

.admin-section-tab {
    background: #2e353d none repeat scroll 0 0;
    left: 0;
    min-height: 700px;
    position: fixed;
    top: 0;
    width: 18%;
}

    .admin-section-tab .nav-tabs li:last-child a {
        margin: 0;
    }

.dash {
    color: #fff;
    background: #23282E;
    text-align: center;
    padding: 15px;
}

li.dash:hover a {
    background: none;
}

li.dash a {
    padding: 0;
    background: none !important;
    display: inline-block;
    color: red !important;
}
/*File upload */
.btn-bs-file {
    position: relative;
}

    .btn-bs-file input[type="file"] {
        position: absolute;
        top: -9999999;
        filter: alpha(opacity=0);
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        cursor: inherit;
    }

/*Padding zero*/
.paddingleftrightzero {
    padding-right: 0;
    padding-left: 0;
}

.paddingrightzero {
    padding-right: 0;
}

/*price table*/
.panelprice {
    text-align: center;
}

    .panelprice:hover {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35);
    }

.panel-body {
    padding: 0px;
    text-align: center;
}

.the-price {
    background-color: rgba(220,220,220,.17);
    box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #fff;
    padding: 20px;
    margin: 0;
}

    .the-price h1 {
        line-height: 1em;
        padding: 0;
        margin: 0;
    }

.subscript {
    font-size: 25px;
}

/* CSS-only ribbon styles    */
.cnrflash {
    /*Position correctly within container*/
    position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}

.cnrflash-inner {
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%; /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}

    .cnrflash-inner:before, .cnrflash-inner:after {
        /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
        content: " ";
        display: block;
        position: absolute;
        bottom: -16px;
        width: 0;
        height: 0;
        border: 8px solid #800000;
    }

    .cnrflash-inner:before {
        left: 1px;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }

    .cnrflash-inner:after {
        right: 0;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

.cnrflash-label {
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}
/*Message Notification*/
.messagealert {
    width: 50%;
    position: fixed;
    top: 0px;
    z-index: 100000;
    padding: 0;
    font-size: 15px;
}
/*Model Popup*/
/*.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

    .modal-footer .btn-group button {
        height: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
        border-right: 1px solid #ddd;
    }

    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }*/

/*Tab*/


/* Tabing*/
.Initial {
    display: block;
    padding: 10px 18px 4px 18px;
    float: left;
    background: url("../images/InitialImage.png") no-repeat right top;
    color: Black;
    font-weight: bold;
}

    .Initial:hover {
        color: White;
        background: url("../images/SelectedButton.png") no-repeat right top;
    }

.Clicked {
    float: left;
    display: block;
    background: url("../images/SelectedButton.png") no-repeat right top;
    padding: 10px 18px 4px 18px;
    color: Black;
    font-weight: bold;
    color: White;
}

.pnlcls {
    padding: 40px;
}
/*Checkbox table css*/
.chktable td {
    padding: 5px;
}
