<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <!--<add name="quizconnection" connectionString="Data Source = Data Source = 204.44.96.22, 1433; Initial Catalog = xexam; User ID = xcert; Password = xcert123;" providerName="System.Data.SqlClient" />-->
    <add name="quizconnection" connectionString="Data Source=MWM43\SQLEXPRESS;Initial Catalog=xexam;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
